backend/dist
backend/node_modules
backend/.env
frontend/node_modules
/node_modules
frontend/.env
.vscode
.env
backend/uploadedFiles/avatars
frontend/dist
.DS_Store
frontend/.DS_Store
frontend/src/.DS_Store
frontend/src/assets/.DS_Store
.DS_Store
frontend/src/.DS_Store
backend/uploadedFiles/abowie_1690965497819
backend/uploadedFiles/giphy_1692773609032
backend/uploadedFiles/giphy_1692774493302
backend/uploadedFiles/test_1692774483211
backend/uploadedFiles/plus-de-10_1692774570483
backend/uploadedFiles/giphy_(1)_1692774995736
backend/uploadedFiles/giphy_(1)_1692777030192
backend/uploadedFiles/giphy_(1)_1692777599170