backend/dist
backend/node_modules
backend/.env
frontend/node_modules
/node_modules
frontend/.env
.vscode
.env
backend/src/auth/auth.controller.ts
backend/uploadedFiles/avatars
frontend/dist
.DS_Store
frontend/.DS_Store
frontend/src/.DS_Store
frontend/src/assets/.DS_Store
.DS_Store
frontend/src/.DS_Store
