.Container {
	display: flex;
	background-color: white;
	align-items: center;
	justify-content: center;
}

:root {
	--ballPositionX: 0;
	--ballPositionY: 0;
	--nextBallPositionX: 0;
	--nextBallPositionY: 0;
}

@keyframes ballPosition {
	from { transform: translate(calc(var(--ballPositionX) * 1px), calc(var(--ballPositionY) * 1px)); }
	to { transform: translate(calc(var(--nextBallPositionX) * 1px), calc(var(--nextBallPositionY) * 1px)); }
}

.Ball {
	background-color: black;
	width: 25px;
	aspect-ratio: 1;
	border-radius: 25px; 
	position: absolute;
	transform: translate(calc(var(--ballPositionX) * 1px), calc(var(--ballPositionY) * 1px));
	will-change: transform;
}

.BallPosition {
	/* animation: ballPosition 200ms both linear infinite; */
}